  <head>
    <title>Andrew Quinn</title>
    <meta charset="UTF-8">
    <meta name="description" content="Cosmic Ocean Digital">
    <meta name="author" content="andrewquinn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Kelly+Slab|Prosto+One|Oxygen|Iceberg|Raleway+Dots|Orbitron:400,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ribeye|Cherry+Swash:400,700|Oldenburg|Lustria|Lato:400,700|Comfortaa|Expletus+Sans:400,600,700|Metamorphous' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <template name="home">
    <section id="mission">
      <header>
        <div class="container">
          <canvas id="q" width="200" height="200"></canvas>
        </div>
      </header>
      <div class="container" id="missionContent">
        <div class="trapezoidBack" id="name">
          <h1 class="backText">Andrew Quinn</h1>
        </div>
        <div class="trapezoidForward" id="title">
          <h3 class="forwardText">Front End Development and Design</h3>
        </div> 
        <div class="trapezoidBack" id="front">
          <h3 class="backText">HTML5 CSS3 SASS Jquery</h3>          
        </div>
        <div class="trapezoidForward" id="mid">
          <h3 class="forwardText">JS Meteor MEAN Scala</h3>
        </div> 
      </div>
    </section>

    <section id="portfolio">
      <div class="container">
        <h2>Recent Work</h2>
        <div class="row work">
          <a href="http://www.kricket.co"><div class="col-md-3 col-xs-12 col-sm-6 piece" id="kricket">
            <div class="overlay"><p>Kricket</p><p>Meteor.js<br>Crossplatform App</p></div>
          </div></a>
          <a href="http://www.quickcompliance.net"><div class="col-md-3 col-xs-12 col-sm-6 piece" id="quickcompliance">
            <div class="overlay"><p>Quick Compliance</p><p>Bootstrap 3<br>Responsive Design</p></div>
          </div></a>
          <a href="/jhDemo/overview.html"><div class="col-md-3 col-xs-12 col-sm-6 piece" id="jhDemo">
            <div class="overlay"><p>JobHive Admin Demo</p><p>Bootstrap 3<br>Responsive Design<br>Handlebars</p></div>
          </div></a>
          <a href="http://www.instifi.com"><div class="col-md-3 col-xs-12 col-sm-6 piece" id="instifi">
            <div class="overlay"><p>InstiFi</p><p>App Grand Prize Winner<br>Storrs Startup Weekend 2013</p></div>
          </div></a>
        </div>
      </div>
    </section>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-12" id="portrait">
          </div>
        <div class="col-md-9 col-xs-12" id="aboutme">
            <h4>I am Andrew Quinn, a US-based web developer with a focus on design.  I'm truly passionate about best practices and cross-platform compatibility.  My greatest strength is taking the vision of the client to heart and making it a reality.<br></h4>
        </div>
        </div>
      </div>
    </section>


    <section id="contact">
      <div class="container">
        <div id="contact-error"></div>
        <h2>Contact</h2>
        <h4>Please feel free to contact me via this form, or at my email: <a href="mailto:andrewquinnw@gmail.com">andrewquinnw@gmail.com</a></h4>
        <form id="contact-form">
          <div class="row">
            <div class="col-md-6" id="form-left">
              <textarea id="message" name="message"  placeholder="Your message"></textarea>
          </div>
          <div class="col-md-6" id="form-right">
            <input id="name" type="text" class="form-control" placeholder="Your name" name="name">
            <input id="email" type="text" class="form-control" placeholder="Your email address" name="email">
            <input type="hidden" name="save" value="contact">
            <input type="submit" value="Send message">
          </div>
        </div>
        </form>  
      </div>
    </section>





    <!-- Include all compiled plugins (below), or include individual files as needed
    <script src="js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="js/iscroll.js"></script>
    <script src="js/jquery.transit.min.js"></script>
    <script src="js/waypoints.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/canvas.js"></script> -->


  </template>